.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

body {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#title-bar {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 211, 48);
  padding: 10px 0 10px;
  width: 100%;
}

main {
  display: flex;
  flex-flow: column;
  overflow: auto;
  width: 100%;
}

#url-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  width: 100%;
}

#zotify-info {
  display: flex;
  overflow: auto;
}

#parameters {
  border-top: 1px black solid;
  border-right: 1px black solid;
  padding: 10px;
  overflow-y: auto;
  width: 25%;
}

.parameter {
  border: 1px #999 solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  margin-bottom: 10px;
}

#downloads {
  border-top: 1px black solid;
  overflow-y: auto;
  width: 75%;
}

.download {
  border: 1px #999 solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.download img {
  height: 25px;
}

img {
  height: 20px;
  padding-right: 5px;
}